<footer class="container">
    <div class="row">
        <section class="col">section 1</section>
        <section class="col">section 1</section>
        <section class="col">section 1</section>
    </div>
    <div class="row text-center">
        <section class="col">&copy;2022</section>
    </div>
</footer>